body{
  background-color: #16c79a;
}
h1{
  text-align: center;
  font-size: 100px;
  font-style:Italic;
  color: #121013;
}
h2
{
color: #121013;
}
p{
  font-size: 35px;
  font-family: 'Jost', sans-serif;
}
p1{
  position: relative;
  color : white;
  font-size: 50px;
  margin-left:100px;
  font-family: 'Jost', sans-serif;
}
p2{position: relative;
  color : white;
  font-size: 50px;
  margin-left:100px;
  font-family: 'Jost', sans-serif;
}
hr{
 border-style: none;
 border-top-style: dotted;
 border-color: white;
 border-width: 5px;
 width: 5%;
}
